{
	plugins: [
		[
			"@babel/plugin-transform-react-jsx", 
			{
				"pragma":     "h",
				"pragmaFrag": "\"span\""
			}
		]
	],
	"presets": [ 
		[
			"@babel/preset-env",
			{
				"targets": {
					"node":     "current",
					"browsers": [ "last 2 versions" ]
				}
			}
		]
	]
}